Server/WSShoppingSolver/web/WEB-INF/wsdl/localhost_80/ShoppingWS/ShoppingWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://shopping_webservice/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://shopping_webservice/" name="ShoppingWS">
<types>
<xsd:schema>
<xsd:import namespace="http://shopping_webservice/" schemaLocation="http://localhost:80/ShoppingWS/ShoppingWS?xsd=1"/>
</xsd:schema>
</types>
<message name="getProductPriceInShop">
<part name="parameters" element="tns:getProductPriceInShop"/>
</message>
<message name="getProductPriceInShopResponse">
<part name="parameters" element="tns:getProductPriceInShopResponse"/>
</message>
<message name="deleteRegistedDevice">
<part name="parameters" element="tns:deleteRegistedDevice"/>
</message>
<message name="deleteRegistedDeviceResponse">
<part name="parameters" element="tns:deleteRegistedDeviceResponse"/>
</message>
<message name="createTransaction">
<part name="parameters" element="tns:createTransaction"/>
</message>
<message name="createTransactionResponse">
<part name="parameters" element="tns:createTransactionResponse"/>
</message>
<message name="createClientWithDevice">
<part name="parameters" element="tns:createClientWithDevice"/>
</message>
<message name="createClientWithDeviceResponse">
<part name="parameters" element="tns:createClientWithDeviceResponse"/>
</message>
<message name="findClientByEmail">
<part name="parameters" element="tns:findClientByEmail"/>
</message>
<message name="findClientByEmailResponse">
<part name="parameters" element="tns:findClientByEmailResponse"/>
</message>
<message name="addDeviceToClient">
<part name="parameters" element="tns:addDeviceToClient"/>
</message>
<message name="addDeviceToClientResponse">
<part name="parameters" element="tns:addDeviceToClientResponse"/>
</message>
<message name="findClientById">
<part name="parameters" element="tns:findClientById"/>
</message>
<message name="findClientByIdResponse">
<part name="parameters" element="tns:findClientByIdResponse"/>
</message>
<message name="createClient">
<part name="parameters" element="tns:createClient"/>
</message>
<message name="createClientResponse">
<part name="parameters" element="tns:createClientResponse"/>
</message>
<message name="findTransactionByClient">
<part name="parameters" element="tns:findTransactionByClient"/>
</message>
<message name="findTransactionByClientResponse">
<part name="parameters" element="tns:findTransactionByClientResponse"/>
</message>
<message name="findTransactionDetail">
<part name="parameters" element="tns:findTransactionDetail"/>
</message>
<message name="findTransactionDetailResponse">
<part name="parameters" element="tns:findTransactionDetailResponse"/>
</message>
<portType name="ShoppingWS">
<operation name="getProductPriceInShop">
<input wsam:Action="http://shopping_webservice/ShoppingWS/getProductPriceInShopRequest" message="tns:getProductPriceInShop"/>
<output wsam:Action="http://shopping_webservice/ShoppingWS/getProductPriceInShopResponse" message="tns:getProductPriceInShopResponse"/>
</operation>
<operation name="deleteRegistedDevice">
<input wsam:Action="http://shopping_webservice/ShoppingWS/deleteRegistedDeviceRequest" message="tns:deleteRegistedDevice"/>
<output wsam:Action="http://shopping_webservice/ShoppingWS/deleteRegistedDeviceResponse" message="tns:deleteRegistedDeviceResponse"/>
</operation>
<operation name="createTransaction">
<input wsam:Action="http://shopping_webservice/ShoppingWS/createTransactionRequest" message="tns:createTransaction"/>
<output wsam:Action="http://shopping_webservice/ShoppingWS/createTransactionResponse" message="tns:createTransactionResponse"/>
</operation>
<operation name="createClientWithDevice">
<input wsam:Action="http://shopping_webservice/ShoppingWS/createClientWithDeviceRequest" message="tns:createClientWithDevice"/>
<output wsam:Action="http://shopping_webservice/ShoppingWS/createClientWithDeviceResponse" message="tns:createClientWithDeviceResponse"/>
</operation>
<operation name="findClientByEmail">
<input wsam:Action="http://shopping_webservice/ShoppingWS/findClientByEmailRequest" message="tns:findClientByEmail"/>
<output wsam:Action="http://shopping_webservice/ShoppingWS/findClientByEmailResponse" message="tns:findClientByEmailResponse"/>
</operation>
<operation name="addDeviceToClient">
<input wsam:Action="http://shopping_webservice/ShoppingWS/addDeviceToClientRequest" message="tns:addDeviceToClient"/>
<output wsam:Action="http://shopping_webservice/ShoppingWS/addDeviceToClientResponse" message="tns:addDeviceToClientResponse"/>
</operation>
<operation name="findClientById">
<input wsam:Action="http://shopping_webservice/ShoppingWS/findClientByIdRequest" message="tns:findClientById"/>
<output wsam:Action="http://shopping_webservice/ShoppingWS/findClientByIdResponse" message="tns:findClientByIdResponse"/>
</operation>
<operation name="createClient">
<input wsam:Action="http://shopping_webservice/ShoppingWS/createClientRequest" message="tns:createClient"/>
<output wsam:Action="http://shopping_webservice/ShoppingWS/createClientResponse" message="tns:createClientResponse"/>
</operation>
<operation name="findTransactionByClient">
<input wsam:Action="http://shopping_webservice/ShoppingWS/findTransactionByClientRequest" message="tns:findTransactionByClient"/>
<output wsam:Action="http://shopping_webservice/ShoppingWS/findTransactionByClientResponse" message="tns:findTransactionByClientResponse"/>
</operation>
<operation name="findTransactionDetail">
<input wsam:Action="http://shopping_webservice/ShoppingWS/findTransactionDetailRequest" message="tns:findTransactionDetail"/>
<output wsam:Action="http://shopping_webservice/ShoppingWS/findTransactionDetailResponse" message="tns:findTransactionDetailResponse"/>
</operation>
</portType>
<binding name="ShoppingWSPortBinding" type="tns:ShoppingWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getProductPriceInShop">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deleteRegistedDevice">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="createTransaction">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="createClientWithDevice">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findClientByEmail">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addDeviceToClient">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findClientById">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="createClient">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findTransactionByClient">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findTransactionDetail">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="ShoppingWS">
<port name="ShoppingWSPort" binding="tns:ShoppingWSPortBinding">
<soap:address location="http://localhost:80/ShoppingWS/ShoppingWS"/>
</port>
</service>
</definitions>