Server/WSShoppingSolver/src/conf/xml-resources/web-service-references/ShopProductAdminWS/wsdl/localhost_80/ShopProductAdminWS/ShopProductAdminWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://shopproduct_admin_webservice/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://shopproduct_admin_webservice/" name="ShopProductAdminWS">
<types>
<xsd:schema>
<xsd:import namespace="http://shopproduct_admin_webservice/" schemaLocation="http://localhost:80/ShopProductAdminWS/ShopProductAdminWS?xsd=1"/>
</xsd:schema>
</types>
<message name="createProductCategory">
<part name="parameters" element="tns:createProductCategory"/>
</message>
<message name="createProductCategoryResponse">
<part name="parameters" element="tns:createProductCategoryResponse"/>
</message>
<message name="getAllProductsInShop">
<part name="parameters" element="tns:getAllProductsInShop"/>
</message>
<message name="getAllProductsInShopResponse">
<part name="parameters" element="tns:getAllProductsInShopResponse"/>
</message>
<message name="addProductToShop">
<part name="parameters" element="tns:addProductToShop"/>
</message>
<message name="addProductToShopResponse">
<part name="parameters" element="tns:addProductToShopResponse"/>
</message>
<message name="createShopBrand">
<part name="parameters" element="tns:createShopBrand"/>
</message>
<message name="createShopBrandResponse">
<part name="parameters" element="tns:createShopBrandResponse"/>
</message>
<message name="createShopBranch">
<part name="parameters" element="tns:createShopBranch"/>
</message>
<message name="createShopBranchResponse">
<part name="parameters" element="tns:createShopBranchResponse"/>
</message>
<message name="createProduct">
<part name="parameters" element="tns:createProduct"/>
</message>
<message name="createProductResponse">
<part name="parameters" element="tns:createProductResponse"/>
</message>
<message name="getProductPriceInShop">
<part name="parameters" element="tns:getProductPriceInShop"/>
</message>
<message name="getProductPriceInShopResponse">
<part name="parameters" element="tns:getProductPriceInShopResponse"/>
</message>
<portType name="ShopProductAdminWS">
<operation name="createProductCategory">
<input wsam:Action="http://shopproduct_admin_webservice/ShopProductAdminWS/createProductCategoryRequest" message="tns:createProductCategory"/>
<output wsam:Action="http://shopproduct_admin_webservice/ShopProductAdminWS/createProductCategoryResponse" message="tns:createProductCategoryResponse"/>
</operation>
<operation name="getAllProductsInShop">
<input wsam:Action="http://shopproduct_admin_webservice/ShopProductAdminWS/getAllProductsInShopRequest" message="tns:getAllProductsInShop"/>
<output wsam:Action="http://shopproduct_admin_webservice/ShopProductAdminWS/getAllProductsInShopResponse" message="tns:getAllProductsInShopResponse"/>
</operation>
<operation name="addProductToShop">
<input wsam:Action="http://shopproduct_admin_webservice/ShopProductAdminWS/addProductToShopRequest" message="tns:addProductToShop"/>
<output wsam:Action="http://shopproduct_admin_webservice/ShopProductAdminWS/addProductToShopResponse" message="tns:addProductToShopResponse"/>
</operation>
<operation name="createShopBrand">
<input wsam:Action="http://shopproduct_admin_webservice/ShopProductAdminWS/createShopBrandRequest" message="tns:createShopBrand"/>
<output wsam:Action="http://shopproduct_admin_webservice/ShopProductAdminWS/createShopBrandResponse" message="tns:createShopBrandResponse"/>
</operation>
<operation name="createShopBranch">
<input wsam:Action="http://shopproduct_admin_webservice/ShopProductAdminWS/createShopBranchRequest" message="tns:createShopBranch"/>
<output wsam:Action="http://shopproduct_admin_webservice/ShopProductAdminWS/createShopBranchResponse" message="tns:createShopBranchResponse"/>
</operation>
<operation name="createProduct">
<input wsam:Action="http://shopproduct_admin_webservice/ShopProductAdminWS/createProductRequest" message="tns:createProduct"/>
<output wsam:Action="http://shopproduct_admin_webservice/ShopProductAdminWS/createProductResponse" message="tns:createProductResponse"/>
</operation>
<operation name="getProductPriceInShop">
<input wsam:Action="http://shopproduct_admin_webservice/ShopProductAdminWS/getProductPriceInShopRequest" message="tns:getProductPriceInShop"/>
<output wsam:Action="http://shopproduct_admin_webservice/ShopProductAdminWS/getProductPriceInShopResponse" message="tns:getProductPriceInShopResponse"/>
</operation>
</portType>
<binding name="ShopProductAdminWSPortBinding" type="tns:ShopProductAdminWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="createProductCategory">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAllProductsInShop">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addProductToShop">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="createShopBrand">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="createShopBranch">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="createProduct">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getProductPriceInShop">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="ShopProductAdminWS">
<port name="ShopProductAdminWSPort" binding="tns:ShopProductAdminWSPortBinding">
<soap:address location="http://localhost:80/ShopProductAdminWS/ShopProductAdminWS"/>
</port>
</service>
</definitions>